---
import "../styles/global.css";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Background from "@/components/Background.astro";

import { getCollection } from "astro:content";

const siteData = await getCollection("siteCollection");
const site = siteData.map((site) => site.data);
---

<!doctype html>
<html lang="en" data-theme="winter">
  <head>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "winter");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.6/daisyui.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{site[0].title}</title>
  </head>
  <body>
    <Navbar links={site[0].menulinks} />
    <Background />
    <slot />
    <Footer
      links={site[0].menulinks}
      contact={site[0].contact}
      socials={site[0].socials}
      footerAbout={site[0].footerAbout}
      footerDescription={site[0].footerDescription}
      footerMenuTitle={site[0].footerMenuTitle}
      contactTitle={site[0].contactTitle}
      socialTitle={site[0].socialTitle}
      copyright={site[0].copyright}
      timmingsTitle={site[0].timmingsTitle}
      timmings={site[0].timmings}
    />
  </body>
</html>

<style is:global>
  /* eb-garamond-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/eb-garamond-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "EB Garamond", serif;
  }

  p {
    font-family: "Montserrat", sans-serif;
  }
</style>
